/* font used */

@font-face {
  font-family: "DrukBoldTrial";
  src: url("../assets/fonts/Druk-Bold-Trial.otf") format("truetype");
}

/* global style  */

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */

  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --lightWhiteColor: rgb(220, 220, 220);
  --blackShadow: rgb(0, 0, 0, 0.4) 0px 0px 20px;

  /* font  */

  --nelaSlabFont: "NelaSlabMedium";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* lenis scrool css setup  ------------------------------------------*/

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* navbar --------------------------------------------------------------- */

.menu-navbar li {
  padding: 3rem 0;
}

.menu-navbar li a {
  font-size: calc(1.5rem + 1vw);
}

/* hero sections */

.logo-navbar,
.logo-navbar a {
  font-size: calc(1rem + 1vw);
}

/* hero sections */

.main-home {
  padding: 0 10% 19% 10%;
}

.main-home h1 {
  font-size: calc(3rem + 1vw);
}

.main-home button {
  font-size: calc(1rem + 0.5vw);
}
/* motto sections */

.grid-1-main-title h1 {
  font-size: calc(2rem + 1vw);
}

.grid-2-discount {
  padding: 2rem;
}

.grid-2-discount h1 {
  font-size: calc(1rem + 1vw);
}

/* service  */

.service-1,
.service-3 {
  padding: 5rem 1rem;
  gap: 2rem;
}

.service-2 {
  padding: 5rem 1rem;
  gap: 2rem;
}

.service-1 h1,
.service-2 h1,
.service-3 h1 {
  font-size: calc(2rem + 1vw);
}

/* booking sections */

.main-booking-title h1 {
  font-size: calc(2rem + 1vw);
}
