@media (max-width: 1024px) {
  /* navbar --------------------------------------------------------------- */

  nav {
    left: 0;
    width: 100vw;
  }

  /* burger menu ---------------------------------------------------------- */

  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .burger span {
    padding: 0.1rem 1rem;
    background: rgb(255, 255, 255);
    margin: 0.3rem 0rem;
    display: block;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
  }

  .menu-navbar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(30, 24, 24, 0.1);
    backdrop-filter: blur(50px);
    transform: scaleY(0);
    transform-origin: center;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-navbar li {
    padding: 5rem 0;
    border-bottom: 2px solid white;
    opacity: 1;
  }

  .menu-navbar li a {
    font-size: calc(2rem + 1vw);
    color: rgb(255, 255, 255);
  }

  /* navbar sections */

  .logo-navbar a,
  .menu-navbar li a {
    font-size: calc(1.5rem + 0.5vw);
  }

  /* home sections */

  .main-home {
    padding: 0 10% 15% 10%;
  }

  .main-home h1 {
    font-size: calc(6rem + 1vw);
  }

  /* motto sections */

  .grid-1-main-title {
    text-align: center;
    padding: 0 5%;
  }

  .grid-2-main-title,
  .service-1,
  .service-3,
  .main-booking {
    flex-direction: column;
  }

  .service-2 {
    flex-direction: column-reverse;
  }

  .grid-2-discount,
  .service-1-description,
  .service-2-description,
  .service-3-description,
  .main-booking-title {
    text-align: center;
    align-items: center;
  }

  .grid-2-discount {
    padding: 5rem 0;
  }

  .grid-1-main-title h1,
  .grid-2-discount h1,
  .service-1 h1,
  .service-2 h1,
  .service-3 h1,
  .main-booking-title h1 {
    font-size: calc(3.5rem + 0.5vw);
  }

  .logo-navbar a,
  .menu-navbar li a,
  .main-home p,
  .grid-1-main-title p,
  .grid-2-discount p,
  .service-1 p,
  .service-2 p,
  .service-3 p,
  .main-booking-title p,
  .main-home button,
  .service-1-description button,
  .service-2-description button,
  .service-3-description button,
  .main-booking-title button {
    font-size: calc(1.5rem + 0.5vw);
    line-height: 3rem;
  }
}
